
  @import 
  url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


h2 {
    color: red;
    font-family: Times New Roman, serif;
    background-color: #5D2A23;
    }

 * {
    font-family: Arial, sans-serif;
    }

h1 {
    font-family: Georgia, serif;
    background-color: red;
    }

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    }

.colorNuevo {
    color: #265B7F;
    }

.imagen {
    width: 300px;
    border: 1pt solid black;
    padding: 1.1rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
    }
