
  @import 
  url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

main{
    display: flex; 
    row-gap: 0; 
    column-gap: 0; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

#encabezado {
    width: 100%;
    background-image: url('https://untref.edu.ar/uploads/images/1535729470-portada-computacin-1200x519.jpg');
    background-size: cover;
    border: 1px solid black;
  }

#informacionpersonal {
    width: 40%;
    background-color:#e8e4e4;
    
  }

#educacion {
    width: 59%;
  }


#experienciadetrabajo {
    width: 59%;
  }

#skills {
    width: 40%;
    background-color:#e8e4e4;
  }

#espacio{
    width: 40%;
    background-color:#e8e4e4;
}

.contactame {
    width: 100%;
}
.mitrabajo {
    width: 100%;
    background-color:#C1DCD7;
    border: 1px solid black;
}

.texto {
    margin: 30px;
    line-height: 1.5;
  }

h2 {
    color: #494e4c;
    font-family: Times New Roman, serif;
    font-weight: bolder;
    
    }

 * {
    font-family: Arial, sans-serif;
    text-align: justify;
    }

h1 {
    font-family: Georgia, serif;
    background-color: #628788;
    }

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    }



.imagen {
    width: 300px;
    border: 10pt solid #628788;
    padding: 0rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
    border-radius: 50%;
    }
